# Secrets
.env

# Python Environment
venv/
/venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor Config
.vscode/
.idea/

# Log Files
*.log
logs/

# Test & Coverage Reports
.pytest_cache/
.coverage
htmlcov/